.container-contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: var(--font-color);
  padding-bottom: 20px;
}

.container-contact > p {
  /* flex-grow: 0; */
  width: 100%;
  padding: 0.5rem;
  font-size: var(--step-1);
  font-weight: 600;
  border-bottom: 1px solid var(--font-color);
  border-top: 1px solid var(--font-color);
  background-color: var(--main-color);
}
.contact {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-message_form,
.contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-message_form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-message_form > div > div {
  width: 100%;
}
.contact-message_form .contact-message_form-button:disabled {
  opacity: 0.6;
  cursor: default;
}
.contact-message_error,
.contact-message_error2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 2px 10px;
  font-size: var(--step--2);
  color: var(--color-gradient-3);
}
.contact-message_error2 {
  justify-content: center;
}
.contact-message_error:nth-child(1),
.contact-message_error:nth-child(2) {
  display: none;
}
.contact-message_error img,
.contact-message_error2 img {
  align-self: flex-start;
  width: 15px;
  height: 15px;
}

.contact-message {
  width: 50%;
}

.contact-message_form .contact-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
.contact-message_form .contact-loader.none {
  display: none;
}
.contact-error-send {
  padding: 5px;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--light-opacity-color);
}

.contact-message_form .contact-error-send.none {
  display: none;
}
.contact-error-send p {
  margin: 0 5px;
  font-size: var(--step--2);
}
.contact-error-send > div {
  /* margin: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-error-send > div:first-child {
  justify-content: flex-end;
  border-bottom: 1px solid var(--font-color);
}
.contact-error-send div:last-child img {
  width: 20px;
}
.contact-error-send div:first-child img {
  width: 25px;
  margin-bottom: 3px;
  cursor: pointer;
}
.contact-img {
  width: 50%;
  padding: 5px;
  border-radius: 8px;
  background-color: var(--light-opacity-color);
}
.contact-img,
.contact-img_gps,
.contact-img_gps > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.contact-img p {
  margin: 2px;
}
.contact-img_gps {
  padding: 5px;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--main-color);
}
.contact-img_gps img {
  width: 30px;
  height: 30px;
}

.contact-footer,
.contact-footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.contact-footer {
  flex-direction: column;
}
.contact-footer img {
  width: 40px;
  height: 40px;
}
.contact-footer a:last-child img {
  width: 51px;
  height: 51px;
}
.contact-footer > a {
  background-image: linear-gradient(
    135deg,
    rgba(159, 75, 242, 1) 22%,
    rgba(126, 94, 242, 1) 52%,
    rgba(114, 146, 242, 1) 78%
  );
  padding: 12px 18px;
  text-decoration: none;
  border: 1px solid var(--dark-color);
  border-radius: 28px;
  font-weight: 600;
  color: var(--font-color);
}

@media (orientation: portrait) {
  .contact {
    flex-direction: column-reverse;
  }
  .contact > div {
    width: 100%;
  }
  .contact-message_form > div:not(.contact-message_error, .contact-loader) {
    width: 100%;
    flex-direction: column;
  }
  .contact-message_error:nth-child(1),
  .contact-message_error:nth-child(2) {
    display: flex;
  }
  .contact-message_error2 {
    display: none;
  }
}

@media (max-width: 680px) {
  .contact *,
  .contact-footer * {
    font-size: var(--step--1);
  }
  span {
    font-size: var(--step--2);
  }
}
