<article class="container-contact" [ngClass]="{'bg':background}">
  <p>Contact</p>
  <section class="contact">
    <div class="contact-message">
      <form class="contact-message_form">
        <div>
          <input type="text" name="name" placeholder="Name" data-aos="zoom-in-up">
          <input type="text" name="email" placeholder="Email" data-aos="zoom-in-up">
        </div>
        <input type="text" name="subject" placeholder="Subject" data-aos="zoom-in-up">
        <textarea rows="6" placeholder="Message" data-aos="zoom-in-up"></textarea>
        <button data-aos="zoom-in-up">Send Message</button>
      </form>
    </div>
    <div class="contact-img" data-aos="flip-up">
      <img src="../../../assets/contact-map.svg" alt="map">
      <div class="contact-img_gps" data-aos="zoom-in">
        <div>
          <img src="../../../assets/location.svg" alt="">
          <div>
            <p>Mari Cornelio</p>
            <p>Lima, Perú</p>
          </div>
        </div>
        <p>katherinacornelio@gmail.com</p>

      </div>
    </div>
  </section>
  <section class="contact-footer">
    <div>
      <a href="https://www.linkedin.com/in/maricornelio/" target="_blank"><img src="../../../assets/linkedin-circle.svg"
          alt="linkedin"></a>
      <a href="https://github.com/MariCornelio" target="_blank"><img src="../../../assets/github-circle.svg"
          alt="github-circle"></a>
      <a href="mailto:katherinacornelio@gmail.com?subject=Full%20Stack%20Developer:&body=Hola%20Mari Cornelio,%20"
        target="_blank"><img src="../../../assets/email-circle.svg" alt="email"></a>
    </div>
    <a href="../../../assets/CV2023MariluCornelioATS.pdf" download>Get Resume</a>
  </section>
</article>