<header class="header-container">



  <div class="container" (click)="onClickLabel()">

    <input type="checkbox" id="checkbox2" class="checkbox2 visuallyHidden header-input" #headerInput
      [checked]="isCkecked" [disabled]="true">
    <label for="checkbox2">
      <div class="hamburger hamburger2">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
        <span class="bar bar4"></span>
      </div>
    </label>
    <nav class="header-nav_films">
      <a [routerLink]="['/']" class="header-nav_item">Home</a>
      <a [routerLink]="['/works']" class="header-nav_item">Works</a>
      <a [routerLink]="['/contact']" class="header-nav_item">Contact</a>
    </nav>

  </div>

</header>