.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: var(--main-color);
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 2.8rem;
  margin-top: 5px;
  margin-right: 35px;
  cursor: pointer;
  border-radius: 5px;
  border-top: 1px solid var(--dark-color);
  border-left: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--light-color);
  border-right: 1px solid var(--light-color);
  background-color: var(--second-color);
}
.container * {
  cursor: pointer;
  font-size: var(--step-0);
  color: var(--font-color);
  font-weight: 600;
}
.hamburger {
  /* margin: 0 auto; */
  margin: 5px;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: var(--font-color);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox2:checked + label > .hamburger2 > .bar1 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox2:checked + label > .hamburger2 > .bar2 {
  transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar3 {
  transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar4 {
  transform: translateX(-40px);
  background-color: transparent;
}
/* ***************************************** */
.header-nav_films {
  width: 50%;
  display: flex;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  top: 3rem;
  right: -50%;
  transition: right 1s, opacity 1s;
}

.header-nav_item {
  width: 100%;
  padding: 5vh;
  position: relative;
  border-bottom: 1px solid var(--font-color);
  background-color: rgb(21, 21, 45);
  text-decoration: none;
  text-align: center;
}
.header-nav_item::before {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    135deg,
    rgba(159, 75, 242, 1) 22%,
    rgba(126, 94, 242, 1) 52%,
    rgba(114, 146, 242, 1) 78%
  );
  border-radius: 4px;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.5s;
}
.header-nav_item:hover::before {
  transform: scale(1);
}
.header-nav_item:nth-child(3) {
  border: none;
}
.header-nav_item:hover {
  background-color: var(--main-accent-color);
  border: none;
}
.header-input:checked ~ .header-nav_films {
  right: 35px;
  opacity: 1;
}


@media (max-width: 650px) {
  .container {
    width: 35px;
  }
  .hamburger {
    margin: 5px;
    width: 25px;
    height: 25px;
  }
  .hamburger .bar {
    width: 25px;
    height: 4px;
  }
  .bar2,
  .bar3 {
    top: 8.5px;
  }
  .bar4 {
    bottom: 3px;
  }
}
