<header class="header-container">

  <div>

    <div class="container" (click)="onClickLabel()">

      <input type="checkbox" id="checkbox2" class="checkbox2 visuallyHidden header-input" #headerInput
        [checked]="isCkecked" [disabled]="true">
      <label for="checkbox2">
        <div class="hamburger hamburger2">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
          <span class="bar bar4"></span>
        </div>
      </label>
      <nav class="header-nav">
        <a (click)="onClickRouter('home')" class="header-nav_item">Home</a>
        <a (click)="onClickRouter('works')" class="header-nav_item">Works</a>
        <a (click)="onClickRouter('contact')" class="header-nav_item">Contact</a>
        <a href="https://github.com/MariCornelio/" target="_blank" class="header-nav_item">GitHub </a>
        <a href="https://linkedin.com/in/maricornelio/" target="_blank" class="header-nav_item">LinkedIn </a>

      </nav>

    </div>
  </div>

</header>