canvas {
  display: block;
}
#particles-js {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.home-container {
  margin-top: 3rem;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.home-content {
  font-weight: 700;
  color: var(--font-color);
  text-align: center;
}
.home-content p {
  margin: 0.6rem;
  font-size: var(--step-3);
}
.home-content > p:first-child {
  font-size: var(--step-4);
  margin-bottom: 0.9rem;
}
.home-content button {
  margin-top: 2rem;
  font-size: var(--step-0);
}
.home-image > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 50%;
  background-color: var(--main-accent-color);
  box-shadow: 0px 15px 10px 0px var(--dark-opacity-color),
    0px -12px 10px 0px var(--light-opacity-color);
}
.home-image > div > div {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-image: linear-gradient(
    135deg,
    rgba(159, 75, 242, 1) 22%,
    rgba(126, 94, 242, 1) 52%,
    rgba(114, 146, 242, 1) 78%
  );
}
.home-image img {
  position: relative;
  z-index: 2;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.home-others {
  background-image: url("../../../assets/polygon.svg");
  background-position: 0 100%;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 35px;
  min-height: calc(100vh - 3rem);
  background-color: var(--main-color);
  position: relative;
  bottom: 0;
}
.home-others p {
  font-weight: 700;
  color: var(--font-color);
  font-size: 2rem;
}
@media (max-width: 800px) {
  .home-others {
    background-size: cover;
    background-position: 0 110%;
  }
}
@media (max-width: 650px) {
  .home-container {
    flex-direction: column;
  }
  .home-image {
    display: none;
  }
}
@media (max-height: 450px) {
  .home-image {
    display: none;
  }
}
