<!-- <article id="pinContainer" class="container-home">
  <div class="panel first" data-aos="fade-in">
    <b>ONE</b>
  </div>
  <div class="panel profession" data-aos="fade-in">
    <b>TWO</b>
  </div>
  <div class="panel passions" data-aos="fade-in">
    <b>THREE</b>
  </div>
  <div class="panel skills" data-aos="fade-in">
    <b>FOUR</b>
  </div>
</article> -->
<!-- particles.js container -->

<div id="particles-js">
  <article class="home-container">
    <section class="home-content">
      <p>Hi, I am Mari Cornelio</p>
      <p>Front-End Developer</p>
      <p>and</p>
      <p>Mathematician</p>
      <button [routerLink]="['/contact']">Contact Me!</button>
    </section>
    <section class="home-image">
      <div>
        <div>
          <img src="../../../assets/katherina-marilu-cornelio-zarate-anime2.png" alt="foto">

        </div>
      </div>
    </section>
  </article>

</div>
<div class="home-others">
  <app-skills></app-skills>
  <app-works></app-works>
  <app-contact></app-contact>
</div>