.container-works {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--font-color);
}
.container-works > p {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  font-size: var(--step-1);
  font-weight: 600;
  border-bottom: 1px solid var(--font-color);
  border-top: 1px solid var(--font-color);
  background-color: var(--main-color);
}
.works {
  gap: 10px;
  flex-wrap: wrap;
  width: 80%;
}
.works > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.work {
  width: 300px;
  height: 300px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--main-accent-color);
  border-radius: 10px;
  border-top: 1px solid var(--light-color);
  box-shadow: -2px 16px 27px 9px var(--dark-opacity-color);
  box-shadow: 0px 15px 20px 15px var(--dark-opacity-color);
}
.works > div:nth-child(odd) {
  justify-content: flex-start;
}
.works > div:nth-child(even) {
  justify-content: flex-end;
}
.work img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.work-name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 36, 66, 0.8);
  opacity: 0;
  border-radius: 10px;
  transition: opacity 1s ease-out;
}
.work-name button {
  font-size: var(--step--1);
  transform: translateY(100%);
  transition: transform 1s ease-out;
}
.work-name__p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  transform: translateY(-100%);
  transition: transform 1s ease-out;
}
.work-name__p p {
  text-align: center;
  font-size: var(--step--3);
  font-weight: 600;
}
.work:hover .work-name {
  opacity: 1;
}
.work:hover .work-name__p {
  transform: translateY(0);
}
.work:hover button {
  transform: translateY(0);
}
.modal-works {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(19, 20, 40, 0.8);
  z-index: 99;
}
.modal-works.none {
  display: none;
  pointer-events: none;
}
.modal-works.block {
  display: block;
  pointer-events: auto;
}
.modal-container {
  height: calc(100vh - 3rem - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background-color: var(--light-opacity-color);
  border-radius: 10px;
}
.modal-container > p {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: var(--step-1);
  background-image: linear-gradient(
    135deg,
    rgba(159, 75, 242, 1) 22%,
    rgba(126, 94, 242, 1) 52%,
    rgba(114, 146, 242, 1) 78%
  );
}
.modal-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  font-size: var(--step-0);
}
.modal-img {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-img img {
  width: 400px;
}
.modal-text {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.modal-text > p {
  margin: 0 5px 10px 5px;
}
.modal-text__div {
  background-color: var(--dark-opacity-color);
  padding: 5px;
  border-radius: 10px;
}
.modal-text__div p {
  text-align: center;
}
.modal-text__div > p:first-child {
  border-bottom: 1px solid var(--font-color);
  padding-bottom: 5px;
}
.modal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-link > p {
  margin: 5px 0;
}
.modal-link div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.modal-link_logo {
  width: 70px;
  height: 70px;

  background-color: var(--main-accent-color);
  cursor: pointer;
}
.modal-link_logo > div {
  z-index: 1;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(
    135deg,
    rgba(159, 75, 242, 1) 22%,
    rgba(126, 94, 242, 1) 52%,
    rgba(114, 146, 242, 1) 78%
  );
}
.modal-link_logo > div > div {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: var(--light-color);
}
.modal-link_logo img {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 30px;
}
@media (max-width: 380px) {
  .work {
    width: 230px;
    height: 230px;
  }
  .work img {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 680px) {
  .works {
    width: 100%;
    justify-content: center;
  }
  .works > div:nth-child(odd),
  .works > div:nth-child(even) {
    justify-content: center;
  }
  .modal-content {
    font-size: var(--step--1);
  }
  .modal-img img {
    width: 180px;
  }
  .modal-text,
  .modal-img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .modal-content {
    flex-direction: column-reverse;
  }
}
@media (max-height: 620px) and (orientation: portrait) {
  .modal-img {
    display: none;
  }
}
