<article class="container-works">
  <p>Works</p>
  <section class="works">
    <div>
      <div class="work" data-aos="zoom-in">
        <img src="../../../assets/work-kwai.png" alt="kwai-store">
        <div class="work-name">
          <div class="work-name__p">
            <p>Kwai Store</p>
          </div>
          <button (click)="onClick()"> Learn More</button>
        </div>
      </div>
      <div class="modal-works" [ngClass]="valid ? '.block' : 'none'">
        <app-close></app-close>
        <section class="modal-container">
          <p>Kwai store</p>
          <div class="modal-content">
            <div class="modal-text">
              <p>Online store of Asian products, for store pickup or home delivery. Where you can view and save the
                purchase summary with
                Http Request queries
              </p>
              <div class="modal-text__div">
                <p> Technologies</p>
                <p> Angular - Angular Material - Angular CLI - Typescript - Responsive - CSS - Git y GitHub - Http
                  Request - UX - Figma - Json-Server</p>
              </div>
              <div class="modal-link">
                <p> View Site</p>
                <div class="modal-link_logo">
                  <div>
                    <div>
                      <img src="../../../assets/link-external2.svg" alt="view-site">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-img">
              <img src="../../../assets/work-kwai.png" alt="kwai-store">
            </div>
          </div>

        </section>
      </div>
    </div>
    <div>
      <div class="work" data-aos="zoom-in">
        <img src="../../../assets/work-burger.png" alt="burger-queen">
        <div class="work-name">
          <div class="work-name__p">
            <p>Burger Queen</p>
          </div>
          <button> Learn More</button>
        </div>
      </div>
    </div>
    <div>
      <div class="work" data-aos="zoom-in">
        <img src="../../../assets/work-linkval.png" alt="linkval">
        <div class="work-name">
          <div class="work-name__p">
            <p>Linkval</p>
          </div>
          <button> Learn More</button>
        </div>
      </div>
      .
    </div>
    <div>
      <div class="work" data-aos="zoom-in">
        <img src="../../../assets/work-devgram.png" alt="devgram">
        <div class="work-name">
          <div class="work-name__p">
            <p>Devgram</p>
          </div>
          <button> Learn More</button>
        </div>
      </div>
    </div>
    <div>
      <div class="work" data-aos="zoom-in">
        <img src="../../../assets/work-mock-bq.png" alt="mock-server">
        <div class="work-name">
          <div class="work-name__p">
            <p>Burger Queen Mock Server</p>
          </div>
          <button> Learn More</button>
        </div>
      </div>
    </div>
    <div>
      <div class="work" data-aos="zoom-in">
        <img src="../../../assets/work-ghiblipedia.png" alt="ghiblipedia">
        <div class="work-name">
          <div class="work-name__p">
            <p>Ghiblipedia</p>
          </div>
          <button> Learn More</button>
        </div>
      </div>
    </div>
    <div>
      <div class="work" data-aos="zoom-in">
        <img src="../../../assets/work-mock-ks.png" alt="mock-server">
        <div class="work-name">
          <div class="work-name__p">
            <p>Kwai Store Mock Server</p>
          </div>
          <button> Learn More</button>
        </div>
      </div>
    </div>
    <div>
      <div class="work" data-aos="zoom-in">
        <img src="../../../assets/work-gift.png" alt="gift-card">
        <div class="work-name">
          <div class="work-name__p">
            <p>Gift Card</p>
          </div>
          <button> Learn More</button>
        </div>
      </div>
    </div>
  </section>
</article>