<article class="footer-container">
  <img src="../../../assets/logo1.png" alt="logo">
  <p>Katherina Marilu Cornelio Zárate</p>
  <p>katherinacornelio@gmail.com</p>
  <div class="footer-explore">
    <a (click)="onClick('home')">Home</a>
    <a (click)="onClick('skills')">Skills</a>
    <a (click)="onClick('works')">Works</a>
    <a (click)="onClick('contact')">Contact</a>
  </div>
  <div class="footer-social">
    <a href="https://github.com/MariCornelio" target="_blank"><img src="../../../assets/github-circle.svg"
        alt="github-circle"></a>
    <a href="https://www.linkedin.com/in/maricornelio/" target="_blank"><img src="../../../assets/linkedin-circle.svg"
        alt="linkedin"></a>
  </div>
  <p>© 2023 maricornelio. All Rights reserved.</p>
</article>